* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 12pt sans-serif;
}

#browser-front-end, #shell-front-end {

    width: 35em;
    padding: 1.5em;

    display: flex;
    flex-direction: column;
    gap: 2em;
}

.m-pair {

    --border-color: #dddddd;

    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    padding-left: 1em;
    padding-top: 1em;
    
    position: relative; /* anchor for .m-number */
    overflow: visible;  /* allow .m-number to spill out */

    display: flex;
    flex-direction: column;
    gap: 1em;
    
    font: 10pt menlo, consolas, 'DejaVu Sans Mono', monospace;

    .m-input {
        border: none;
        outline: none;
        white-space: pre;
        /* why is this needed? */
        font: inherit;
    }
    
    .m-input::placeholder {
        font: 12pt sans-serif;
    }

    .m-number {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        z-index: 1;

        padding-left: 0.5em;
        padding-right: 0.5em;
        color: #888888;
        font: 10pt sans-serif;
        background-color: white;
        border: 1px solid var(--border-color);
        border-radius: 9999px;
    }
    
    .m-output {
        /*
        .MathJax {
            font-size: 11pt;
        }
       */
    }
}

/* TODO: should be m-panel? */
.m-manipulate {

    width: min-content;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 1em;
    padding-bottom: 1.5em;

    /* target of manipulate */
    & > :first-child {
        padding: 0.5em;
        background-color: white;
        border: 1px solid #cccccc;
        border-radius: 3px;

    }

    .m-sliders {
        
        padding-top: 2em;
    
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        grid-row-gap: 1.2em;
        grid-column-gap: 1em;
    
        label {
            white-space: nowrap;
            font: 11pt sans-serif;
        }

        .m-slider {
            padding: 0 !important;
            .rc-slider-track {
                background-color: #cccccc;
            }
            .rc-slider-rail {
                background-color: #cccccc;
            }
            .rc-slider-handle {
                background-color: white;
                border: 1px solid #999999;
                width: 12px;
                height: 24px;
                margin-top: -10px;
                border-radius: 4px;
            }
        }
    }
}

.m-row, .m-grid {

    /* stupid css trick to make the baseline of a plot in a row be its vertical center
       so that it is centered vertically relative to other content.
       TODO: the translate is ugly; look into whether there's a cleaner way to do this. */
    .m-plot {
        transform: translateY(-50%);
    }
    .m-plot::before {
        display: inline-block;
        content: "";
        width: 0;
        height: 50%; /* baseline = bottom of this inline-block */
    }

    align-items: baseline;
}

.m-row {
    display: flex;
    flex-direction: row;
    width: max-content;
}

.m-grid {

    display: grid;
    justify-items: center;
    width: max-content;

    > * {
        /* rows and columns as assigned when elements were generated by layout */
        grid-column: var(--col);
        grid-row: var(--row);
    }
}



